os:
   - linux
   - osx

dist: focal

osx_image: xcode12

language: c

arch:
  - amd64
    #- arm64
    #- ppc64le

addons:
   apt:
      sources:
         - sourceline: "ppa:ubuntu-toolchain-r/test"
           #- sourceline: "deb https://apt.kitware.com/ubuntu/ focal main"
           #key_url: https://apt.kitware.com/keys/kitware-archive-latest.asc
      packages:
         - gfortran-8
         - gfortran-9
         - gfortran-10
         - g++-8
         - g++-9
         - g++-10
           #- libgfortran5-dbg
         - libxml2-utils
         - cmake
   homebrew:
      packages:
         - gcc@8
         - gcc@9
         - cmake
      update: false

env:
   global:
      - MPI_NAME=openmpi
   jobs:
      - FC='gfortran-8' CC='gcc-8' CXX='g++-8' MPI_VER=4.0.5 USE_MPI=YES CACHE_NAME=$TRAVIS_OS_NAME-$TRAVIS_CPU_ARCH-$FC-$MPI_NAME-$MPI_VER
      - FC='gfortran-8' CC='gcc-8' CXX='g++-8' MPI_VER=3.1.6 USE_MPI=YES CACHE_NAME=$TRAVIS_OS_NAME-$TRAVIS_CPU_ARCH-$FC-$MPI_NAME-$MPI_VER
      - FC='gfortran-8' CC='gcc-8' CXX='g++-8' USE_MPI=NO CACHE_NAME=$TRAVIS_OS_NAME-$TRAVIS_CPU_ARCH-$FC-NOMPI
      - FC='gfortran-9' CC='gcc-9' CXX='g++-9' MPI_VER=4.0.5 USE_MPI=YES CACHE_NAME=$TRAVIS_OS_NAME-$TRAVIS_CPU_ARCH-$FC-$MPI_NAME-$MPI_VER
      - FC='gfortran-9' CC='gcc-9' CXX='g++-9' MPI_VER=3.1.6 USE_MPI=YES CACHE_NAME=$TRAVIS_OS_NAME-$TRAVIS_CPU_ARCH-$FC-$MPI_NAME-$MPI_VER
      - FC='gfortran-9' CC='gcc-9' CXX='g++-9' USE_MPI=NO CACHE_NAME=$TRAVIS_OS_NAME-$TRAVIS_CPU_ARCH-$FC-NOMPI
      - FC='gfortran-10' CC='gcc-10' CXX='g++-10' MPI_VER=4.0.5 USE_MPI=YES CACHE_NAME=$TRAVIS_OS_NAME-$TRAVIS_CPU_ARCH-$FC-$MPI_NAME-$MPI_VER
      - FC='gfortran-10' CC='gcc-10' CXX='g++-10' USE_MPI=NO CACHE_NAME=$TRAVIS_OS_NAME-$TRAVIS_CPU_ARCH-$FC-NOMPI

# Allow failures on arm64
jobs:
   allow_failures:
      - arch: arm64

# caching of the whole `local` directory. Can't cache only the one for this
# `env`, because otherwise the different instances will overwrite the cache.
# For the first test-run, the build has to be run sequentially (limit parallel
# workers to 1) so that the cache can be correctly initialized. Once the cache
# is build, parallel workers can be re-enabled.
cache:
   directories:
      - ${HOME}/local
   timeout: 600

before_script:
   # Install cmake on linux (assume osx is good)
   - |
      if [ $TRAVIS_OS_NAME != 'osx' ] ; then
         export cmake_ver=3.18.1
         sh ./tools/travis-install-cmake.sh ${cmake_ver}
         # set up cmake location
         export PATH=${HOME}/local/cmake/bin:${PATH}
         export LIBRARY_PATH=${HOME}/local/cmake/lib:${LIBRARY_PATH}
         export LD_LIBRARY_PATH=${HOME}/local/cmake/lib:${LD_LIBRARY_PATH}
         # print out version information
         sudo apt purge --autoremove cmake
         cmake --version
      else
         cmake --version
      fi
   # install MPI
   - |
      if [ $USE_MPI == YES ] ; then
         mkdir -p ${HOME}/local
         ls -r ${HOME}/local
         sh ./tools/travis-install-mpi.sh ${MPI_NAME} ${MPI_VER}
         # set up MPI location
         export PATH=${PATH}:${HOME}/local/${MPI_NAME}/bin
         export LIBRARY_PATH=${LIBRARY_PATH}:${HOME}/local/${MPI_NAME}/lib
         export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:${HOME}/local/${MPI_NAME}/lib
         # print out version information
         ${FC} --version
         mpirun --version
      fi
   # Now build pFUnit
   - cd ${TRAVIS_BUILD_DIR}
   - mkdir -p build && cd build
   - cmake .. -DCMAKE_Fortran_COMPILER=${FC} -DCMAKE_INSTALL_PREFIX=${HOME}/Software/pFUnit

script:
   # Build
   - make -j4 VERBOSE=1
   # Make tests
   - make -j4 build-tests
   # Run tests
   - ctest -j1 --output-on-failure --repeat until-pass:4

notifications:
   email:
      recipients:
         - matthew.thompson@nasa.gov
         - tom.clune@nasa.gov
