@tkr_parameters all
[(integer, default, 0)]
[(integer, 32, 0)]
[(integer, 64, 0)]
[(real, default, 0)]
[(real, double, 0)]
[(real, 32, 0)]
[(real, 64, 0)]
[(real, 128, 0)]
[(complex, default, 0)]
[(complex, double, 0)]
[(complex, 32, 0)]
[(complex, 64, 0)]
[(complex, 128, 0)]
@end tkr_parameters

@template(AnyOf,[case])
module pf_{name}_mod
  use pf_AbstractMatcher_mod
  use pf_MatcherDescription_mod
  implicit none
  private

  public :: {name}
  public :: any_of

  type, extends(AbstractMatcher{mangle}) :: {name}
     class(AbstractMatcher{mangle}), allocatable :: matchers(:)
   contains
     procedure :: matches
     procedure :: describe_to
     procedure :: describe_to_op
     procedure :: describe_mismatch
  end type {name}


  interface any_of
     module procedure any_of
  end interface any_Of


contains


  function any_of(matchers)
    type ({name}) :: any_of
    class(AbstractMatcher{mangle}), intent(in) :: matchers(:)

    allocate(any_of%matchers, source=matchers)

  end function any_of


  logical function matches(this, actual_value)
    class({name}), intent(in) :: this
    class(*), intent(in) :: actual_value

    integer :: i
    
    matches = .false.
    do i = 1, size(this%matchers)
       if (this%matchers(i)%matches(actual_value)) then
          matches = .true.
          exit
       end if
    end do

  end function matches

  subroutine describe_to(this, description)
    class({name}), intent(in):: this
    class(MatcherDescription), intent(inout) :: description

    integer :: i

    call this%describe_to_op(description, "or")

  end subroutine describe_to

  subroutine describe_to_op(this, description, operator)
    class({name}), intent(in) :: this
    class(MatcherDescription), intent(inout) :: description
    character(*), intent(in) :: operator

    call description%append_list("(", " " // operator // " ", ")", this%matchers)
  end subroutine describe_to_op
  

  subroutine describe_mismatch(this, actual, description)
    class({name}), intent(in) :: this
    class(*), intent(in) :: actual
    class(MatcherDescription), intent(inout) :: description

    call description%append_text("was ")
    call description%append_value(actual)

  end subroutine describe_mismatch


end module pf_{name}_mod
@end template

@template(uses,[case])
   use pf_AnyOf{mangle}_mod
@end template

@instantiate(AnyOf, all)

module pf_AnyOf_mod
  @instantiate(uses, all)
end module pf_AnyOf_mod
