name: CI Tests

on: [pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04, macos-10.15]
        compiler: [gfortran-8, gfortran-9]

      # fail-fast is set to 'true' here which is good for production, but when
      # debugging, set to 'false'. fail-fast means if *any* ci test in the matrix fails
      # GitHub Actions will stop any other test immediately. So good for production, bad
      # when trying to figure something out. For more info see:
      # https://www.edwardthomson.com/blog/github_actions_6_fail_fast_matrix_workflows.html
      fail-fast: true
    env:
      FC: ${{ matrix.compiler }}
      LANGUAGE: en_US.UTF-8
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
      LC_TYPE: en_US.UTF-8
      OMPI_ALLOW_RUN_AS_ROOT: 1
      OMPI_ALLOW_RUN_AS_ROOT_CONFIRM: 1
      OMPI_MCA_btl_vader_single_copy_mechanism: none

    name: ${{ matrix.os }} / ${{ matrix.compiler }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Cache MPI
        id: cache-mpi
        uses: actions/cache@v2
        with:
          path: ~/local/openmpi
          key: mpi-${{ runner.os }}-${{ matrix.os }}-${{ matrix.compiler }}
      - name: Build MPI
        if: steps.cache-mpi.outputs.cache-hit != 'true'
        run: |
          sh ${GITHUB_WORKSPACE}/tools/travis-install-mpi.sh openmpi 4.0.5
      - name: Set MPI Environment
        run: |
          echo "${HOME}/local/openmpi/bin" >> $GITHUB_PATH
          echo "LD_LIBRARY_PATH=${HOME}/local/openmpi/lib" >> $GITHUB_ENV
          echo "DYLD_LIBRARY_PATH=${HOME}/local/openmpi/lib" >> $GITHUB_ENV
      - name: Versions
        run: |
          ${FC} --version
          mpirun --version
          mpifort --show
      - name: Build pFUnit
        run: |
          mkdir -p build
          cd build
          cmake .. -DCMAKE_Fortran_COMPILER=${FC}
          make -j
      - name: Run Tests
        run: |
          cd build
          make -j tests
          ctest -j1 --output-on-failure
